/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.title {
  padding: 10px 0;
  position: relative;
}

.text-ai {
  color: #00b0ff;
  text-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 20px rgba(255,255,255,0.3), 0 0 30px rgba(255,255,255,0.1), 0 0 40px #00b0ff;
  animation: shining 1s infinite;
}

@keyframes shining {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 20px rgba(255,255,255,0.3), 0 0 30px rgba(255,255,255,0.1), 0 0 40px #00b0ff;
  }
  100% {
    text-shadow: 0 0 20px rgba(255,255,255,0.5), 0 0 30px rgba(255,255,255,0.3), 0 0 40px rgba(255,255,255,0.1), 0 0 50px #00b0ff;
  }
}

.hr-title {
  border-top: 3px solid #00b0ff;
  width: 20px;
  margin: 10px auto;
}

.bg-student {
  background-color: #b3e5fc;
}
